* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
    justify-items: center;
    align-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 60rem;
    height: 30rem;
    border: 0.2rem solid black;
}

#list {
    width: 20rem;
    height: 29.8rem;
    border-right: 0.2rem solid black;
}

#info {
    display: grid;
    width: 40rem;
}

#photo-place {
    display: flex;
    position: relative;
    left: 30%;
    align-items: center;

}

#scroll-list {
    display: grid;
    justify-items: center;
    position: relative;
    top: 2rem;
    width: 19.8rem;
    height: 27.6rem;
    background-color: red;
    overflow: auto;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 0.7rem;
    background-color: white;
    font-size: 1.3rem;
    user-select: none;
    cursor: pointer;
}

.picture {
    width: 15rem;
    height: 15rem;
}

#info-place {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    width: 10rem;
    justify-self: center;    
}